@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

body{
 margin: 0;
 width: 100%;
}

@media screen (min-width: 500px) {
  .logo {
    visibility: visible;
  }
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #e5474b;
  font-size: 1.75em;
  padding-top: 0.5em;
  visibility: none;
  
}



/*-----------------------------------------------*/
a {
  border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.navside ul li {
  list-style-type: none;

  
  border: 1px solid #707070;
  background-color: #ffffff;
}

li:hover {
  background: #fff; 
} 

.active {
  color: #ffffff;
  background: black; 
} 

/* nav links */
.navside a:link,a:visited {
  color: #707070;
 
  text-decoration: none;
 }  

.navside a:hover,a:active {
  color: #ffffff;
  background: black;
}  





/* copied and modified for my use from http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu */
nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;

}

nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul li a {
  display: block;
}

nav ul li {
  padding: 0;
  margin: 0;
  float: none; 
  position: relative;
}

nav ul ul {
  padding: 0;
  margin: 0;
  position: absolute;/* left: 100%; top:0; position changed from top100 to left as it is a side menu */
}

nav ul ul li {
  float: none; 
  position: relative;
  z-index: 1;
}

nav ul ul ul {
  position: absolute; left: 100%; top:0;
}

/*-----------------------------------------------*/



.topbar {
  background-color: black;
  max-height: 5em;
}

.banner {
  align-content: center;

  padding-bottom: 1em;
}
.banner img{
    max-width: 100%;
  max-height: 10.33333375%
}
.main-section {
  padding-left: 1em;
}
.main-section ul {
  list-style-type: none;
}
.blog {
  padding-top: 5em;
  padding-right: 18%;
}









